# Ignore Play! working directory #
bin/
/db
.eclipse
/play-java-seed/lib/
/play-java-seed/logs/
/modules
/play-java-seed/project/project
/play-java-seed/project/target
/target
/play-java-seed/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
